.yourQuotesPage {
    /* border: 1px solid red; */
    background-image: url("http://getwallpapers.com/wallpaper/full/1/b/d/829640-gorgerous-movie-backgrounds-1920x1080-ipad-pro.jpg");
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.yourQuotesTitle {
    color: rgba(255, 255, 255, 0.863);
}

.yourQuoteNavBar {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.backToAddQuote {
    height: 5vh;
    width: 10vw;
    border-radius: 10px;
    transition-delay: .05s;
    color: rgb(224, 57, 57);
    font-weight: bold;
}

.backToAddQuote:hover {
    cursor: pointer;
    background: rgb(224, 57, 57);
    border: rgb(224, 57, 57);
    color: white;
    font-weight: bold;
}

.yourQuotesPageBodyContent {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
}