.favoritesPage {
    /* border: 1px solid red; */
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.favoritesTitle {
    /* border: 1px solid red; */
    color: rgba(255, 255, 255, 0.863);
}

.favoriteContent {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
}

.favoriteQuoteCards {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 55%;
    width: 30%;
}