.favoritesPage {
    /* border: 1px solid red; */
    background-image: url("https://blenderartists.org/uploads/default/original/4X/7/e/2/7e2d7bea4ac21388c4a96e1371f375c4ce00094b.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.favoritesTitle {
    /* border: 1px solid red; */
    color: rgba(255, 255, 255, 0.863);
}

.favoriteContent {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
}

.favoriteQuoteCards {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 55%;
    width: 30%;
    background: black;
}