.update {
    color: whitesmoke;
    width: 27vw;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 7px;
}

.update:hover {
    cursor: pointer;
    text-decoration: underline;
}

.quoteTextImg {
    /* border: 1px solid red; */
    /* padding-left: 3rem;
    padding-right: 3rem; */
    width: 10%;
    color: whitesmoke;

}