.movieQuotes {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.navBar {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background: rgb(59, 59, 59);
}

.title{
    /* border: 1px solid black; */
    font-size: 50px;
    color: rgb(196, 40, 40);
}

.homeButton {
    /* border: 1px solid black; */
    color: rgb(202, 202, 202);
}

.homeButton:hover {
    cursor: pointer;
    text-decoration: underline;
}

.favoritesButton {
    /* border: 1px solid black; */
    color: rgb(202, 202, 202);
}

.favoritesButton:hover {
    cursor: pointer;
    text-decoration: underline;
}