.deleteButton {
    /* border: 1px solid red; */
    color: whitesmoke;
    width: 27vw;
    display: flex;
    justify-content: flex-end;
}

.deleteButton:hover {
    cursor: pointer;
    color: rgba(255, 0, 0, 0.829);
}